*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* navibar Style */

.navibar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: auto;
    top: 0;

    box-shadow: 2px 2px 12px transparent;
    padding: 0px 5%;
    transition: .3s;
    z-index: 50;
}

.navibar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navibar ul li {
    font-family: 'Urbanist';
    font-size: 1.1rem;
    font-weight: bold;
}

.navibar ul li a {
    text-decoration: none;
    color: #7DBFFD;
    padding: 8px 25px;
    transition: all .5s ease;
}

.logo1 {
  font-family: 'Urbanist';
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #7DBFFD;
  margin-left: 50px;
  text-decoration: none;
}

/* End navibar Style */

/* Start Section Home Style */
#home{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 840px;
    justify-content: center;
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: baseline;
    max-width: 600px;
    margin: 55px 0px 25px;
    top: 30%;
    right: 50%;
    font-family: 'Urbanist';
}

.main h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #65CBE9;
}

.main p{
    font-size: 24px;
    margin: 25px 0px 25px;
    color: #7DBFFD;
}

/* ASSETS 3D */
.triD-1{
    width: 612px;
    height: 408px;
    position: absolute;
    left: 80%;
    top: 10%;
    transform: translateX(-70%);
    z-index: 6;
    background-color: transparent;
}
/* LINKKARAN 3D */
.lingkaran-1{
    width: 300px;
    height: 300px;
    background-color: rgba(101, 203, 233, 0.3); /* Warna lingkaran dengan transparansi */
    border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
    position: absolute;
    top: 37%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.lingkaran-2{
    width: 242px;
    height: 242px;
    background-color: rgba(223, 178, 244, 0.3); /* Warna lingkaran dengan transparansi */
    border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
    position: absolute;
    top: 40%;
    left: 68%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.lingkaran-3{
  width: 159px;
  height: 159px;
  background-color: rgba(223, 178, 244, 0.3); /* Warna lingkaran dengan transparansi */
  filter: blur(10PX);
  border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
  position: absolute;
  top: 58%;
  left: 85%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.lingkaran-4{
  width: 168px;
  height: 168px;
  background-color: rgba(101, 203, 233, 0.3); /* Warna lingkaran dengan transparansi */
  filter: blur(10px);
  border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
  position: absolute;
  top: 60%;
  left: 66%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.lingkaran-5{
  width: 242px;
  height: 242px;
  background-color: rgba(85, 214, 194, 0.3); /* Warna lingkaran dengan transparansi */
  border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
  position: absolute;
  top: 55%;
  left: 77%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* home-2 */
#home-2{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 800px;
  justify-content: space-between;
  color: white;
}

.main-2{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  top: 0;
  right: 0;
  font-family: 'Urbanist';
}

.main-2 img{
  width: 25rem;
  height: 25rem;
}

.main-2 p {
  color: #7DBFFD;
  text-align: justify;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Urbanist';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; 
}

/* Home-3 */
#home-3{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  height: 45rem;
  color: white;
  justify-content: space-around;
  
}

.main-3{
  display: flex;
  
  position: relative;
  align-items: center;
  max-width: 100%;
  top: 0;
  right: 0;
  font-family: 'Urbanist';
}

.main-3 img{
  width: 27rem;
  height: 18rem;
  position: absolute;
  right: 65%;
  top: 0%;
}

.main-3 .container{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  text-align: justify;
  position: relative;
  padding: 0;
  left: 25%;
}


.main-3 h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  color: #7DBFFD;
  text-align: left;

}

.main-3 p {
  font-size: 24px;
  color: #7DBFFD;
  text-align: left;
  font-weight: 700;
}

.main-3 a{
  width: 10.3125rem;
  height: 2.5625rem;
  border-radius: 1.875rem;
  background: #7DBFFD;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Urbanist';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}


/* Main-4 */
#home-4{
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  height: 45rem;
  color: white;
  justify-content: space-around;
}

.main-4{
  display: flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  top: 0;
  right: 0;
  font-family: 'Urbanist';
}

.main-4 img{
  width: 23.75rem;
  height: 21.875rem;
  position: absolute;
  left: 65%;
  top: 0%;
}

.main-4 .container{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  text-align: center;
  position: relative;
  right: 25%;
}
.main-4 h1{
  width: 29.5625rem;
  height: 2.625rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  color: #7DBFFD;
}

.main-4 p {
  font-size: 24px;
  width: 29.5625rem;
  height: 6rem;
  margin: 25px 0px 25px;
  font-weight: 700;
  color: #7DBFFD;
  text-align: left;
}

.main-4 a{
  width: 10.3125rem;
  height: 2.5625rem;
  border-radius: 1.875rem;
  background: #7DBFFD;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Urbanist';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  position: relative;
  left: 40%;
  transform: translateX(-50%);
  color: #fff;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}

/* Main-5 */
#home-5{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 45rem;
  color: white;
  justify-content: space-around;
}

.main-5{
  display: flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  top: 0;
  right: 0;
  font-family: 'Urbanist';
}

.main-5 img{
  width: 25rem;
  height: 25rem;
  position: absolute;
  right: 65%;
  top: 0%;
}

.main-5 .container{
  flex-direction: column;
  width: 30%;
  height: auto;
  text-align: justify;
  position: relative;
  padding: 20px;
  top: 10%;
  left: 25%;
}
.main-5 h1{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #7DBFFD;
  text-align: left;
}

.main-5 p {
  font-size: 1.25rem;
  width: 21.59206rem;
  padding: 10px;
  margin-bottom: 50px;
  font-weight: 700;
  color: #7DBFFD;
  text-align: left;
}

.main-5 a{
  width: 10.3125rem;
  height: 2.5625rem;
  border-radius: 1.875rem;
  background: #7DBFFD;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Urbanist';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  position: relative;
  bottom: 20px;
  left: 40%;
  transform: translateX(-50%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

}

/* Start Section Testimoni */
#testimoni{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 840px;
  color: white;
  text-align: center;
  justify-content: center;
  width: 100%;
}

#testimoni h1{
  color: #7DBFFD;
  font-family: 'Urbanist';
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  text-align: center;
  margin: 40px 0px;
  
}
.main-testi{
  margin-top: 166px;
}

.main-testi h1{
  color: #7DBFFD;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-testi{
  display: flex;
  margin-top: 70px;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon-testi{
  margin: 10px;
}

.container-testi img{
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  margin: 20px;
  justify-content: center;
}

.icon-testi{
  top: 769px;
  left: 256px;
  width: 200px;
  font-family: "Urbanist-Bold", Helvetica;
  font-weight: 700;
  color: #7cbefc;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 7px;
}
.large-icon img{
  width: 12.5rem;
  height: 12.5rem;
}


.main-testi h2{
  color: #7DBFFD;
  font-family: 'Urbanist';
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
  }

/* End Section Testimoni */

/* Start Section Prof_trainer Style */
#prof-trainer{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: auto;
  color: white;
  text-align: center;
  justify-content: center;
  width: 100%;
}

#prof-trainer h1{
  color: #7DBFFD;
  font-family: 'Urbanist';
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  text-align: center;
  margin: 40px 0px;
  
}
.main-proftrain{
  margin-top: 166px;
}

.main-proftrain h1{
  color: #7DBFFD;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-proftrain{
  display: flex;
  margin-top: 103px;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon-proftrain{
  margin: 10px;
}

.container-proftrain img{
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  margin: 20px;
  justify-content: center;
}

.icon-proftrain{
  top: 769px;
  left: 256px;
  width: 200px;
  font-family: "Urbanist-Bold", Helvetica;
  font-weight: 700;
  color: #7cbefc;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 7px;
}
.large-icon img{
  width: 12.5rem;
  height: 12.5rem;
}

/* End Section Prof_Trainer Style */

/* END Section Home Style */

/* Start Section About Style */

#about{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 840px;
    color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.main-about{
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 6000px;
  margin: 55px 0px 25px;
  right: 24%;
  font-family: 'Urbanist';
  top: 10%;
}
.main-about h1{
  color: #7DBFFD;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-about p{
  width: 50.8125rem;
  height: 7.375rem;
  flex-shrink: 0;
  color: #7DBFFD;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Urbanist';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 50px;
}

.anggota-team{
  margin-top: 300px;
}

.anggota-team h1{
  color: #7DBFFD;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.anggota{
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.team{
  margin: 10px;
}

.team img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px;
  justify-content: center;
}

.team h2{
  top: 769px;
  left: 256px;
  width: 162px;
  font-family: "Urbanist-Bold", Helvetica;
  font-weight: 700;
  color: #7cbefc;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 7px;
}

/* End Section About Style */

/* Start Section Blog Style */

#blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.main-blog{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7DBFFD;
  margin-bottom: 33px;
}

.main-blog img{
  width: 30.8125rem;
  height: 17.375rem;
  flex-shrink: 0;
}
.main-blog h1{
  color: #FFF;
  font-family: 'Urbanist';
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container-blog {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.card_header img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  border-radius: 1.875rem;
}
.card_body {
  width: 21.8rem;
  height: 8.4375rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: .5rem;
  border-radius: 1.875rem;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.card_body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}
.card_body h4 a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* start Section blog-page Style */
.main-blog-page{
  display: flex;
  flex-direction: row;
  padding: 25px 50px 75px 100px;
}
.main-blog-page .blog-page-img img{
  width: 30.5rem;
  height: 36.8125rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.875rem;
  border: 1px solid rgba(0, 0, 0, 0.10);
  max-width: 100%;
  margin-top: 120px;
}
.main-blog-page .blog-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.blog-page-text h4 {
  width: 20.3125rem;
  height: 6.0625rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Urbanist';
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.blog-page-text p {
  width: 48rem;
  height: 35rem;
  text-align: justify;
  color: rgba(0, 0, 0, 0.75);
  font-family: Urbanist;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* End Section Blog-Page Style */

/* End Blog Style */

/* Start Section join us Style */

#joinus{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-joinus{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-joinus h1{
  position: absolute;
  align-items: center;
  text-align: center;
  top: 150px;
  font-family: "Urbanist-Bold", Helvetica;
  font-weight: 700;
  color: #7cbefc;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}
.container-joinus {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
  margin-top: 10%;
}
.card_header_joinus img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card-joinus {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  border-radius: 1.875rem;
}
.card_body_joinus {
  width: 21.8rem;
  height: 12.4375rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 1.875rem;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.card_body_joinus h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
}
.card_body_joinus h4 a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* Start Modal Joinus */

/* Start Section program-latihan Style */

#program-latihan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.main-program-latihan{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7DBFFD;
  margin-bottom: 33px;
}

.main-program-latihan img{
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}
.main-program-latihan h1{
  color: #FFF;
  font-family: 'Urbanist';
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container-program-latihan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.card_header_proglat img {
  max-width: 100%;
  display: block;
  border-radius: 15px;
  object-fit: cover;
}

.card-proglat {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  border-radius: 1.875rem;
}
.card_body_proglat {
  width: 21.8rem;
  height: 8.4375rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: .5rem;
  border-radius: 1.875rem;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.card_body_proglat h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}
.card_body_proglat h4 a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* End Blog Style */

/* Start Program Latihan Day 1 */

.container-day1{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.container-day1 h1 {
  text-align: center;
}

.rectangle{
  display: flex;
  justify-content: space-between;
  width: 840px;
  height: 149px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.70);
}

.rectangle h2{
  margin-top: 52px;
  margin-left: 69px;
  margin-right: 69px;
  text-align: left;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
  font-family: Urbanist;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }


/* End Program Latihan Day 1 */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content h1 {
  text-align: center;
  color: #7DBFFD;
  font-family: Urbanist;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container-modal {
  width: 300px;
  margin: 0 auto;
}

form {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 1.25rem;
  /* border: 1px solid rgb(243, 243, 243); */
  color: rgba(0, 0, 0, 0.75);
  text-align: justify;
  font-family: Urbanist;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

input[type="radio"] {
  margin-right: 5px;
}
.container-modal button {
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 1.25rem;
  border: 1px solid rgba(125, 191, 253, 0.40);
  background: #7DBFFD;
  cursor: pointer;
}

button:hover {
  background-color: #005b84;
}

.container-modal-metpem {
  display: flex;
  width: 300px;
  gap: 2rem;
  margin: 0 auto;

}
.container-modal-metpem img{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100px;
  height: auto;
}

.container-modal-success {
  display: flex;
  width: 300px;
  gap: 2rem;
  margin: 0 auto;

}
.container-modal-success img{
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  height: auto;
}

/* End Modal JoinUs */

/* End Section JoinUs */

/* Start Section Login Style */
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/assets/img/bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52.8125rem;
  height: 30.9375rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: url("/assets/img/bg.png") lightgray 50% / cover no-repeat;
  border: #ffffff;
}

.wrapper
{
  width: 18.1875rem;
  height: 23.75rem;
  border-radius: 1.25rem;
  border: 1px solid #FFF;
  background: rgba(217, 217, 217, 0.08);
  color: #fff;
  border-radius: 10px;
  padding: 50px 25px;
}

.wrapper h1
{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box
{
  width: 12.4375rem;
  height: 2.25rem;
  position: relative;
  margin: 20px;
  justify-content: center;
  align-items: center;
}


.input-box {margin: 10px;} input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 1.25rem;
    border: 1px solid rgb(243, 243, 243);
    font-size: 16px;
    color: #fff;
    padding: 20px 40px 20px 20px;
}

.input-box input::placeholder
{color: #fff}

.input-box i 
{
    position: absolute;
    right: 20px;
    top : 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn
{
    width: 100%;
    height: 50px;
    background: #fff;
    border: 0;
    outline: none;
    border-radius: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 15px;
}


/* Start Section Registrasi */

#registrasi {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/assets/img/bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.main-registrasi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52.8125rem;
  height: 30.9375rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: url("/assets/img/bg.png") lightgray 50% / cover no-repeat;
  border: #ffffff;
}



/* End Section Login */

/* Start Section Footer */

#footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
  background: #7DBFFD;
  position: absolute;
  left: 0;
  right: 0;
  padding: 80px 8% 70px;
  margin-top: 200px;
}
.footer-content img {
  width: 150px;
}

.footer-content h4 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 20px;
}
.footer-content li {
  margin-bottom: 16px;
  list-style: none;
}
.footer-content li a {
  display: block;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
  text-decoration: none;
}
.footer-content li a:hover{
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}
.footer-content p {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  margin: 20px 0;
}
.icons a {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  margin-right: 17px;
  transition: all .40s ease;
}

.icons a:hover{
  color: #fff;
  transform: translateY(-5px);
}

.footer-bottom {
  display: block;
  flex-direction: column;
  position: absolute;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}


/* END Section Footer */

/* Start Animation Home */

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0);
  }
}
.main-2 .img-slide-1 {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  transform: translateX(-0px);
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to{
    transform: translateX(0);
  }
}
.main-2 .img-slide-2 {
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  transform: translateX(-0px);
}

/* END Animation Home */