*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* navibar Style */

.navibar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: sticky;
    height: auto;
    top: 0;
    background: transparent;
    box-shadow: 2px 2px 12px transparent;
    padding: 0px 5%;
    transition: .3s;
    z-index: 50;
}

.navibar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navibar ul li {
    font-family: 'Urbanist';
    font-size: 1.1rem;
    font-weight: bold;
}

.navibar ul li a {
    text-decoration: none;
    color: #7DBFFD;
    padding: 8px 25px;
    transition: all .5s ease;
}

.logo1 {
    font-family: 'Urbanist';
    letter-spacing: 3px;
    font-size: 3.125rem;
    color: #7DBFFD;
    margin-left: 50px;
    text-decoration: none;
}

/* End navibar Style */

/* Start Section Home Style */
#home{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 840px;
    justify-content: center;
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: baseline;
    max-width: 600px;
    margin: 55px 0px 25px;
    top: 30%;
    right: 50%;
    font-family: 'Urbanist';
}

.main h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #65CBE9;
}

.main p{
    font-size: 24px;
    margin: 25px 0px 25px;
    color: #7DBFFD;
}

/* ASSETS 3D */
.triD-1{
    width: 612px;
    height: 408px;
    position: absolute;
    left: 80%;
    top: 10%;
    transform: translateX(-70%);
    z-index: 1;
    background-color: transparent;
}
/* LINKKARAN 3D */
.lingkaran-1{
    width: 300px;
    height: 300px;
    background-color: rgba(101, 203, 233, 0.3); /* Warna lingkaran dengan transparansi */
    border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
    position: absolute;
    top: 37%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.lingkaran-2{
    width: 242px;
    height: 242px;
    background-color: rgba(223, 178, 244, 0.3); /* Warna lingkaran dengan transparansi */
    border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
    position: absolute;
    top: 40%;
    left: 68%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.lingkaran-3{
  width: 159px;
  height: 159px;
  background-color: rgba(223, 178, 244, 0.3); /* Warna lingkaran dengan transparansi */
  filter: blur(10PX);
  border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
  position: absolute;
  top: 58%;
  left: 85%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.lingkaran-4{
  width: 168px;
  height: 168px;
  background-color: rgba(101, 203, 233, 0.3); /* Warna lingkaran dengan transparansi */
  filter: blur(10px);
  border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
  position: absolute;
  top: 60%;
  left: 66%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.lingkaran-5{
  width: 242px;
  height: 242px;
  background-color: rgba(85, 214, 194, 0.3); /* Warna lingkaran dengan transparansi */
  border-radius: 50%; /* Untuk membuatnya menjadi lingkaran */
  position: absolute;
  top: 55%;
  left: 77%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

/* home-2 */
#home-2{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: 800px;
  justify-content: space-between;
  color: white;
}

.main-2{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  top: 0;
  right: 0;
  font-family: 'Urbanist';
}

.main-2 img{
  width: 41.875rem;
  height: 25rem;
}

.main-2 p {
  color: #7DBFFD;
  text-align: justify;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Urbanist';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; 
}

/* Home-3 */
#home-3{
  display: flex;
  flex-direction: column;
  background-color: #486FCE;
  height: 45rem;
  color: white;
  justify-content: space-around;
}

.main-3{
  display: flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  top: 0;
  right: 0;
  font-family: 'Urbanist';
}

.main-3 img{
  width: 27rem;
  height: 18rem;
  position: absolute;
  right: 45%;
  top: 10%;
  transform: translateX(-70%);
}

.main-3 .container{
    width: 30%;
    height: auto;
    position: relative;
    text-align: center;
    top: 25%;
    left: 25%;
}


.main-3 h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  text-align: left;
}

.main-3 p {
  font-size: 24px;
  margin: 25px 0px 25px;
  color: #ffffff;
  text-align: left;
  font-weight: 700;
}

.main-3 a{
  width: 10.3125rem;
  height: 2.5625rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  color: #FFF;
}


/* Main-4 */
#home-4{
  display: flex;
  flex-direction: column;
  background-color: #BEE3FE;
  height: 45rem;
  color: white;
  justify-content: space-around;
}

.main-4{
  display: flex;
  position: relative;
  align-items: center;
  max-width: 100%;
  top: 0;
  right: 0;
  font-family: 'Urbanist';
}

.main-4 img{
  width: 26.0625rem;
  height: 24rem;
  position: absolute;
  left: 65%;
  top: 0%;
}

.main-4 .container{
  width: 40%;
  height: auto;
  text-align: center;
  position: relative;
  top: 25%;
  right: 25%;
}
.main-4 h1{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #486FCE;
}

.main-4 p {
  font-size: 24px;
  margin: 25px 0px 25px;
  font-weight: 700;
  color: #486FCE;
}

.main-4 a{
  width: 10.3125rem;
  height: 2.5625rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  color: #FFF;
}

/* Main-5 */
#home-5{
  display: flex;
  flex-direction: column;
  background-color: #CFC7F6;
  height: 45rem;
  color: white;
  justify-content: space-around;
}

.main-5{
  display: flex;
  
  position: relative;
  align-items: center;
  max-width: 100%;
  top: 0;
  right: 0;
  font-family: 'Urbanist';
}

.main-5 img{
  width: 26.0625rem;
  height: 24rem;
  position: absolute;
  right: 65%;
  top: 0%;
}

.main-5 .container{
  flex-direction: column;
  width: 30%;
  height: auto;
  text-align: justify;
  position: relative;
  padding: 20px;
  top: 10%;
  left: 25%;
}
.main-5 h1{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-align: left;
}

.main-5 p {
  font-size: 1.25rem;
  width: 21.59206rem;
  padding: 10px;
  margin-bottom: 50px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.main-5 a{
  width: 10.3125rem;
  height: 2.5625rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  color: #FFF;

}

/* END Section Home Style */

/* Start Section About Style */

#about{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 840px;
    color: white;
    text-align: center;
}
.main-about{
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 6000px;
  margin: 55px 0px 25px;
  top: 30%;
  right: 24%;
  font-family: 'Urbanist';
  top: 10%;
}
.main-about h1{
  color: #7DBFFD;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-about p{
  width: 50.8125rem;
  height: 7.375rem;
  flex-shrink: 0;
  color: #7DBFFD;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Urbanist;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 50px;
}

/* Start Section Blog Style */

#blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 17.375rem;
  flex-shrink: 0;
  background-color: #7DBFFD;
}
.main-blog{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-blog img{
  width: 30.8125rem;
  height: 17.375rem;
  flex-shrink: 0;
}
.main-blog h1{
  color: #FFF;
  font-family: Urbanist;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* card */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}
/* End Blog Style */


/* Start Section Login Style */
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/assets/img/bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52.8125rem;
  height: 30.9375rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: url("/assets/img/bg.png") lightgray 50% / cover no-repeat;
  border: #333;
}

.wrapper
{
  width: 18.1875rem;
  height: 23.75rem;
  border-radius: 0.625rem;
  border: 1px solid #FFF;
  background: rgba(217, 217, 217, 0.08);
  color: #fff;
  border-radius: 10px;
  padding: 50px 25px;
}

.wrapper h1
{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box
{
  width: 12.4375rem;
  height: 2.25rem;
  position: relative;
  margin: 20px;
  justify-content: center;
  align-items: center;
}


.input-box {margin: 10px;} input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 0.625rem;
    border: 1px solid #FFF;
    font-size: 16px;
    color: #fff;
    padding: 20px 40px 20px 20px;
}

.input-box input::placeholder
{color: #fff}

.input-box i 
{
    position: absolute;
    right: 20px;
    top : 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn
{
    width: 100%;
    height: 50px;
    background: #fff;
    border: 0;
    outline: none;
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 50px;
}

/* End Section Login */

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0);
  }
}
.main-2 .img-slide-1 {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  transform: translateX(-0px);
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to{
    transform: translateX(0);
  }
}
.main-2 .img-slide-2 {
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  transform: translateX(-0px);
}